<div class="container">
  <div class="row">
    <div class="col-sm-8 d-block mx-auto">
      <h1 class="text-sm-center">About</h1>
      <p>
        BigDogsは中・大型犬専門のコミュニティサイトです。<br>
        中・大型犬を飼っている飼い主やこれから飼おうと思っている人同士で<br>
        中・大型犬に関する知りたいことや悩み、疑問点や不安などを気軽に共有できます。<br>
        本サイトを通じて大きい犬ならではの悩みを、少しでも解消できれば幸いです。<br>
      </p>
      <%= image_tag 'image_dog2.png' %>
    </div>
  </div>
</div>

