<% if answer.referenced_by?(current_dog_owner) %>
  <p class="text-right">
  <%= link_to post_answer_references_path(@post, answer), method: :delete, remote: true do %>
    ♥<%= answer.references.count %> 参考になった！
  <% end %>
  </p>
<% else %>
  <p class="text-right">
  <%= link_to post_answer_references_path(@post, answer), method: :post, remote: true do %>
    ♡<%= answer.references.count %> 参考になった！
  <% end %>
  </p>
<% end %>